---
title: Geometry of quiver moduli
subtitle: workshop at Utrecht University, February 23 and 24, 2026
layout: page
hide_footer: true
---
<h3>Description</h3>
<p>As part of the <a href="https://www.uu.nl/en/research/utrecht-geometry-centre/research/ta-springer-chair">Springer Chair</a>
being awarded to Markus Reineke,
we are organising a 2-day workshop at Utrecht University,
on the geometry of quiver moduli.

<h3>List of speakers</h3>
<ul class="names">
{% for speaker_id in site.data.speakers %}
{% assign speaker = speaker_id[1] %}
  <li><span class="name">
  {% if speaker.website %}
    <a href="{{ speaker.website }}">{{ speaker.name }}</a>
  {% else %}
    {{ speaker.name }}
  {% endif %}
  </span>
  {% if speaker.online %}
    *
  {% endif %}
  (<span class="affiliation">{{ speaker.affiliation }}</span>)
{% endfor %}
</ul>

<h3>Organisation</h3>
<p>The workshop is organised by
<ul>
  <li><a href="https://pbelmans.ncag.info">Pieter Belmans</a> (Utrecht University)
  <li><a href="https://webspace.science.uu.nl/~kool0009/">Martijn Kool</a> (Utrecht University)
</ul>

<p>The workshop is supported by
Utrecht University
and <a href="https://nwo.nl">Dutch Research Council (NWO)</a>
through <a href="https://cats.ncag.info">CatsINCAGe</a>
